__pycache__/
.venv313/
log/
Logs/
.venv/
.vscode/
localdata/
FubonLog/
selenium_user_data/
DailyRun/logs/
DailyRun/DailyData/
log_GetBrokerBSAmo.csv
log_GetBrokerBS.csv
TestFubonApi
.env
TestFBChat
log_CheckWebSiteSbl.csv

